[submodule "front-end/exercises/13.1/front-end/exercises/13.1/exercise-dog-image"]
	path = front-end/exercises/13.1/front-end/exercises/13.1/exercise-dog-image
	url = git@github.com:ecioferraz/exercise-dog-image.git
[submodule "front-end/exercises/13.1/exercise-dog-image"]
	path = front-end/exercises/13.1/exercise-dog-image
	url = git@github.com:ecioferraz/exercise-dog-image.git
[submodule "front-end/exercises/15.1/exercise-to-do-list"]
	path = front-end/exercises/15.1/exercise-to-do-list
	url = git@github.com:ecioferraz/exercise-todo-list.git
[submodule "front-end/exercises/front-end/exercises/15.2/exercise-digimon-finder"]
	path = front-end/exercises/front-end/exercises/15.2/exercise-digimon-finder
	url = git@github.com:ecioferraz/exercise-digimon-finders.git
[submodule "front-end/exercises/15.3/exercise-portfolio-web"]
	path = front-end/exercises/15.3/exercise-portfolio-web
	url = git@github.com:ecioferraz/exercise-portfolio-web.git

[submodule "aceleração/01.1-variáveis-e-seus-tipos/acc-java-04-exercises-antecessor-sucessor"]
	path = aceleração/01.1-variáveis-e-seus-tipos/acc-java-04-exercises-antecessor-sucessor
	url = https://github.com/tryber/acc-java-04-exercises-antecessor-sucessor
[submodule "aceleração/01.1-variáveis-e-seus-tipos/acc-java-04-exercises-calcula-area"]
	path = aceleração/01.1-variáveis-e-seus-tipos/acc-java-04-exercises-calcula-area
	url = https://github.com/tryber/acc-java-04-exercises-calcula-area
[submodule "aceleração/01.1-variáveis-e-seus-tipos/acc-java-04-exercises-calcula-imc"]
	path = aceleração/01.1-variáveis-e-seus-tipos/acc-java-04-exercises-calcula-imc
	url = https://github.com/tryber/acc-java-04-exercises-calcula-imc
