[submodule "front-end/exercises/13.1/front-end/exercises/13.1/exercise-dog-image"]
	path = front-end/exercises/13.1/front-end/exercises/13.1/exercise-dog-image
	url = git@github.com:ecioferraz/exercise-dog-image.git
[submodule "front-end/exercises/13.1/exercise-dog-image"]
	path = front-end/exercises/13.1/exercise-dog-image
	url = git@github.com:ecioferraz/exercise-dog-image.git
[submodule "front-end/exercises/15.1/exercise-to-do-list"]
	path = front-end/exercises/15.1/exercise-to-do-list
	url = git@github.com:ecioferraz/exercise-todo-list.git
[submodule "front-end/exercises/front-end/exercises/15.2/exercise-digimon-finder"]
	path = front-end/exercises/front-end/exercises/15.2/exercise-digimon-finder
	url = git@github.com:ecioferraz/exercise-digimon-finders.git
[submodule "front-end/exercises/15.3/exercise-portfolio-web"]
	path = front-end/exercises/15.3/exercise-portfolio-web
	url = git@github.com:ecioferraz/exercise-portfolio-web.git

[submodule "aceleração/01.1-variáveis-e-seus-tipos/acc-java-04-exercises-antecessor-sucessor"]
	path = aceleração/01.1-variáveis-e-seus-tipos/acc-java-04-exercises-antecessor-sucessor
	url = https://github.com/tryber/acc-java-04-exercises-antecessor-sucessor
[submodule "aceleração/01.1-variáveis-e-seus-tipos/acc-java-04-exercises-calcula-area"]
	path = aceleração/01.1-variáveis-e-seus-tipos/acc-java-04-exercises-calcula-area
	url = https://github.com/tryber/acc-java-04-exercises-calcula-area
[submodule "aceleração/01.1-variáveis-e-seus-tipos/acc-java-04-exercises-calcula-imc"]
	path = aceleração/01.1-variáveis-e-seus-tipos/acc-java-04-exercises-calcula-imc
	url = https://github.com/tryber/acc-java-04-exercises-calcula-imc
[submodule "aceleração/01.1-variáveis-e-seus-tipos/acc-java-04-exercises-converte-bytes"]
	path = aceleração/01.1-variáveis-e-seus-tipos/acc-java-04-exercises-converte-bytes
	url = https://github.com/tryber/acc-java-04-exercises-converte-bytes
[submodule "aceleração/01.1-variáveis-e-seus-tipos/acc-java-04-exercises-estado-lampada"]
	path = aceleração/01.1-variáveis-e-seus-tipos/acc-java-04-exercises-estado-lampada
	url = https://github.com/tryber/acc-java-04-exercises-estado-lampada
[submodule "aceleração/01.1-variáveis-e-seus-tipos/acc-java-04-exercises-fatorial"]
	path = aceleração/01.1-variáveis-e-seus-tipos/acc-java-04-exercises-fatorial
	url = https://github.com/tryber/acc-java-04-exercises-fatorial
[submodule "aceleração/01.1-variáveis-e-seus-tipos/acc-java-04-exercises-soma-elementos"]
	path = aceleração/01.1-variáveis-e-seus-tipos/acc-java-04-exercises-soma-elementos
	url = https://github.com/tryber/acc-java-04-exercises-soma-elementos
[submodule "aceleração/01.1-variáveis-e-seus-tipos/acc-java-04-exercises-do-while-conexao-discada"]
	path = aceleração/01.1-variáveis-e-seus-tipos/acc-java-04-exercises-do-while-conexao-discada
	url = https://github.com/tryber/acc-java-04-exercises-do-while-conexao-discada
[submodule "aceleração/01.1-variáveis-e-seus-tipos/acc-java-04-exercises-for-numeros-pares"]
	path = aceleração/01.1-variáveis-e-seus-tipos/acc-java-04-exercises-for-numeros-pares
	url = https://github.com/tryber/acc-java-04-exercises-for-numeros-pares
[submodule "aceleração/01.1-variáveis-e-seus-tipos/acc-java-04-exercises-if-else-desafio-estado-brasileiro"]
	path = aceleração/01.1-variáveis-e-seus-tipos/acc-java-04-exercises-if-else-desafio-estado-brasileiro
	url = https://github.com/tryber/acc-java-04-exercises-if-else-desafio-estado-brasileiro
[submodule "aceleração/01.1-variáveis-e-seus-tipos/acc-java-04-exercises-while-desafio-numeros-aleatorios"]
	path = aceleração/01.1-variáveis-e-seus-tipos/acc-java-04-exercises-while-desafio-numeros-aleatorios
	url = https://github.com/tryber/acc-java-04-exercises-while-desafio-numeros-aleatorios
[submodule "aceleração/01.3-finalmente-o-hello-world-em-java/acc-java-04-exercises-idade-em-dias"]
	path = aceleração/01.3-finalmente-o-hello-world-em-java/acc-java-04-exercises-idade-em-dias
	url = https://github.com/tryber/acc-java-04-exercises-idade-em-dias
[submodule "aceleração/01.3-finalmente-o-hello-world-em-java/acc-java-04-exercises-media-anual"]
	path = aceleração/01.3-finalmente-o-hello-world-em-java/acc-java-04-exercises-media-anual
	url = https://github.com/tryber/acc-java-04-exercises-media-anual
[submodule "aceleração/02.1-abstração-classes-em-java/acc-java-04-exercises-conta-poupanca"]
	path = aceleração/02.1-abstração-classes-em-java/acc-java-04-exercises-conta-poupanca
	url = https://github.com/tryber/acc-java-04-exercises-conta-poupanca
[submodule "aceleração/02.2-getters-and-setters/acc-java-04-exercises-encapsulamento-recursos-humanos"]
	path = aceleração/02.2-getters-and-setters/acc-java-04-exercises-encapsulamento-recursos-humanos
	url = https://github.com/tryber/acc-java-04-exercises-encapsulamento-recursos-humanos
[submodule "aceleração/02.3-encapsulamento-e-herança/acc-java-04-exercises-gerar-pessoa-usuaria"]
	path = aceleração/02.3-encapsulamento-e-herança/acc-java-04-exercises-gerar-pessoa-usuaria
	url = https://github.com/tryber/acc-java-04-exercises-gerar-pessoa-usuaria
[submodule "aceleração/02.5-interfaces-e-classes-abstratas/acc-java-04-exercises-jogo-das-fazendas"]
	path = aceleração/02.5-interfaces-e-classes-abstratas/acc-java-04-exercises-jogo-das-fazendas
	url = https://github.com/tryber/acc-java-04-exercises-jogo-das-fazendas
[submodule "aceleração/03.1-leitura-e-escrita-em-arquivos/acc-java-04-exercises-gerador-senhas"]
	path = aceleração/03.1-leitura-e-escrita-em-arquivos/acc-java-04-exercises-gerador-senhas
	url = https://github.com/tryber/acc-java-04-exercises-gerador-senhas
[submodule "aceleração/03.1-leitura-e-escrita-em-arquivos/acc-java-04-exercises-transforma-texto"]
	path = aceleração/03.1-leitura-e-escrita-em-arquivos/acc-java-04-exercises-transforma-texto
	url = https://github.com/tryber/acc-java-04-exercises-transforma-texto
[submodule "aceleração/04.1-try-catch/acc-java-04-exercises-divisor"]
	path = aceleração/04.1-try-catch/acc-java-04-exercises-divisor
	url = https://github.com/tryber/acc-java-04-exercises-divisor
[submodule "aceleração/04.1-try-catch/acc-java-04-exercises-tratando-nulos"]
	path = aceleração/04.1-try-catch/acc-java-04-exercises-tratando-nulos
	url = https://github.com/tryber/acc-java-04-exercises-tratando-nulos
[submodule "aceleração/04.2-refinando-seu-tratamento-de-erros/acc-java-04-exercises-excecao-maior-idade"]
	path = aceleração/04.2-refinando-seu-tratamento-de-erros/acc-java-04-exercises-excecao-maior-idade
	url = https://github.com/tryber/acc-java-04-exercises-excecao-maior-idade
[submodule "aceleração/04.2-refinando-seu-tratamento-de-erros/acc-java-04-exercises-excecao-leitura-arquivos"]
	path = aceleração/04.2-refinando-seu-tratamento-de-erros/acc-java-04-exercises-excecao-leitura-arquivos
	url = https://github.com/tryber/acc-java-04-exercises-excecao-leitura-arquivos
[submodule "aceleração/05.1-coleções/acc-java-04-exercises-agenda"]
	path = aceleração/05.1-coleções/acc-java-04-exercises-agenda
	url = https://github.com/tryber/acc-java-04-exercises-agenda
[submodule "aceleração/05.1-coleções/acc-java-04-exercises-agenda-com-map"]
	path = aceleração/05.1-coleções/acc-java-04-exercises-agenda-com-map
	url = https://github.com/tryber/acc-java-04-exercises-agenda-com-map
[submodule "aceleração/05.2-streams/acc-java-04-exercises-criador-stream"]
	path = aceleração/05.2-streams/acc-java-04-exercises-criador-stream
	url = https://github.com/tryber/acc-java-04-exercises-criador-stream
[submodule "aceleração/05.2-streams/acc-java-04-exercises-concessionaria"]
	path = aceleração/05.2-streams/acc-java-04-exercises-concessionaria
	url = https://github.com/tryber/acc-java-04-exercises-concessionaria
[submodule "aceleração/06.1-datas-com-horários/acc-java-04-exercises-simulador-rendimento"]
	path = aceleração/06.1-datas-com-horários/acc-java-04-exercises-simulador-rendimento
	url = https://github.com/tryber/acc-java-04-exercises-simulador-rendimento
[submodule "aceleração/06.2-operações-com-datas-e-horários/acc-java-04-exercises-ano-bissexto"]
	path = aceleração/06.2-operações-com-datas-e-horários/acc-java-04-exercises-ano-bissexto
	url = https://github.com/tryber/acc-java-04-exercises-ano-bissexto
[submodule "aceleração/07.1-maven-e-gradle/acc-java-04-exercises-gradle-war"]
	path = aceleração/07.1-maven-e-gradle/acc-java-04-exercises-gradle-war
	url = https://github.com/tryber/acc-java-04-exercises-gradle-war
[submodule "aceleração/08.1-testes-unitários-com-junit5/acc-java-04-exercises-sistema-rh"]
	path = aceleração/08.1-testes-unitários-com-junit5/acc-java-04-exercises-sistema-rh
	url = https://github.com/tryber/acc-java-04-exercises-sistema-rh
[submodule "aceleração/08.2-tdd-com-junit5/acc-java-04-exercises-sistema-bancario"]
	path = aceleração/08.2-tdd-com-junit5/acc-java-04-exercises-sistema-bancario
	url = https://github.com/tryber/acc-java-04-exercises-sistema-bancario
[submodule "aceleração/08.2-tdd-com-junit5/acc-java-04-exercises-sistema-bancario"]
	path = aceleração/08.2-tdd-com-junit5/acc-java-04-exercises-veiculo-hibernate
	url = https://github.com/tryber/acc-java-04-exercises-veiculo-hibernate
[submodule "aceleração/09.2-orm-hibernate-relacionamentos-e-consultas/acc-java-04-exercises-datacenter-catalogo"]
	path = aceleração/09.2-orm-hibernate-relacionamentos-e-consultas/acc-java-04-exercises-datacenter-catalogo
	url = https://github.com/tryber/acc-java-04-exercises-datacenter-catalogo
[submodule "aceleração/10.1-como-o-java-vai-para-a-web/acc-java-04-exercises-api-rest-spring"]
	path = aceleração/10.1-como-o-java-vai-para-a-web/acc-java-04-exercises-api-rest-spring
	url = https://github.com/tryber/acc-java-04-exercises-api-rest-spring
[submodule "aceleração/10.2-logs-e-datasources/acc-java-04-exercises-search-cars"]
	path = aceleração/10.2-logs-e-datasources/acc-java-04-exercises-search-cars
	url = https://github.com/tryber/acc-java-04-exercises-search-cars
[submodule "aceleração/10.3-fazendo-deploy-de-uma-aplicação/acc-java-04-exercises-buzzwarn"]
	path = aceleração/10.3-fazendo-deploy-de-uma-aplicação/acc-java-04-exercises-buzzwarn
	url = https://github.com/tryber/acc-java-04-exercises-buzzwarn
