.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 2;
    left: 150px;
    top: 338px;
  }
  
  .baloon {
      z-index: 3;
      position: absolute;
      left: 200px;
  }
  
  .speach {
    font-size: 25px;
    z-index: 5;
    position: absolute;
    left: 225px;
    top: 120px;
  }
  
  .bowser {
    width: 200px;
    z-index: 4;
    position: absolute;
    left: 500px;
  }